openapi: 3.1.0
info:
  title: Augment API
  version: '2026-09-26'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-26: 12 operation(s) read from 1 public documentation page(s) (each operation
    names its page in x-source). This is not the provider''s published contract; Augment has published no machine-readable contract that the pipeline
    could find. Engine: local.'
  x-evidence-tiers:
    code-example: 10
    documentation: 2
    pages-with-code: 1
    pages-read: 1
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-26'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://developers.augment.com/api
servers:
- url: https://webservice.augment.com
paths:
  /rest/v1/catalogs:
    delete:
      operationId: delete_rest_v1_catalogs
      tags:
      - Rest
      summary: Delete catalog
      x-source: https://developers.augment.com/api
      parameters:
      - name: uuid
        in: query
        required: true
        schema:
          type: string
        description: Catalog UUID
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
    get:
      operationId: get_rest_v1_catalogs
      tags:
      - Rest
      summary: GET /rest/v1/catalogs
      x-source: https://developers.augment.com/api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRestV1CatalogsResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -g \"https://webservice.augment.com/rest/v1/catalogs\"  - X GET  - H \"Content-Type: application/json\"  - H \"HTTP_AUTORIZATION:\
          \ Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbnRlZ3JhdGlvbl9pZCI6MTAsImV4cGlyZXNfYXQiOiIyMDE3LTEwLTE4IDEyOjE2OjU3IFVUQyJ9.LH7FaSlcOmnQylt5xndneOoZUdYOBIvgYRXQ6MXgmSQ\"\
          \  - H \"Host: example.org\" \n ``` \n Headers Content-Type : application/json Content-Type : application/"
    post:
      operationId: post_rest_v1_catalogs
      tags:
      - Rest
      summary: Create catalog
      x-source: https://developers.augment.com/api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRestV1CatalogsRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRestV1CatalogsResponse'
      x-evidence:
        kind: documentation
    put:
      operationId: put_rest_v1_catalogs
      tags:
      - Rest
      summary: Update catalog
      x-source: https://developers.augment.com/api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutRestV1CatalogsRequest'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutRestV1CatalogsResponse'
      x-evidence:
        kind: documentation
  /rest/v1/catalogs/{catalogId}/products:
    get:
      operationId: get_rest_v1_catalogs_catalogId_products
      tags:
      - Rest
      summary: Products list
      x-source: https://developers.augment.com/api
      parameters:
      - name: catalogId
        in: path
        required: true
        schema:
          type: string
      - name: per
        in: query
        required: false
        schema:
          type: string
        description: number of products per page
      - name: page
        in: query
        required: false
        schema:
          type: string
        description: page number
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRestV1CatalogsCatalogidProductsResponse'
      x-evidence:
        kind: documentation
    post:
      operationId: post_rest_v1_catalogs_catalogId_products
      tags:
      - Rest
      summary: Create product
      x-source: https://developers.augment.com/api
      parameters:
      - name: catalogId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRestV1CatalogsCatalogidProductsRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRestV1CatalogsCatalogidProductsResponse'
      x-evidence:
        kind: documentation
  /rest/v1/catalogs/{catalogId}/products/{id}:
    delete:
      operationId: delete_rest_v1_catalogs_catalogId_products_id
      tags:
      - Rest
      summary: Destroy product
      x-source: https://developers.augment.com/api
      parameters:
      - name: catalogId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
    get:
      operationId: get_rest_v1_catalogs_catalogId_products_id
      tags:
      - Rest
      summary: Show product
      x-source: https://developers.augment.com/api
      parameters:
      - name: catalogId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRestV1CatalogsCatalogidProductsIdResponse'
      x-evidence:
        kind: documentation
    put:
      operationId: put_rest_v1_catalogs_catalogId_products_id
      tags:
      - Rest
      summary: Update product
      x-source: https://developers.augment.com/api
      parameters:
      - name: catalogId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutRestV1CatalogsCatalogidProductsIdRequest'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutRestV1CatalogsCatalogidProductsIdResponse'
      x-evidence:
        kind: documentation
  /rest/v1/catalogs/{id}:
    get:
      operationId: get_rest_v1_catalogs_id
      tags:
      - Rest
      summary: Get catalog Details
      x-source: https://developers.augment.com/api
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRestV1CatalogsIdResponse'
      x-evidence:
        kind: documentation
  /rest/v1/oauth/token:
    delete:
      operationId: delete_rest_v1_oauth_token
      tags:
      - Rest
      summary: DELETE /rest/v1/oauth/token
      x-source: https://developers.augment.com/api
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteRestV1OauthTokenResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl \"https://webservice.augment.com/rest/v1/oauth/token\"  - d '{ \"grant_type\" : \"client_credentials\" , \"client_id\"\
          \ : \"my_integration_id\" , \"client_secret\" : \"my_integration_secret\" , \"username\" : \"my_username\" , \"password\" : \"my_password\"\
          \  }'  -X DELETE  - H \"Content-Type: application/json\"  - H \"Host: example.org\" \n ``` \n Headers Content-Type : application/json\
          \ Host : example.org Body {\n \" grant"
    post:
      operationId: post_rest_v1_oauth_token
      tags:
      - Rest
      summary: POST /rest/v1/oauth/token
      x-source: https://developers.augment.com/api
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRestV1OauthTokenResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl \"https://webservice.augment.com/rest/v1/oauth/token\"  - d '{ \"grant_type\" : \"password\" , \"client_id\" : \"my_integration_id\"\
          \ , \"client_secret\" : \"my_integration_secret\" , \"username\" : \"my_username\" , \"password\" : \"my_password\"  }'  -X POST  -\
          \ H \"Content-Type: application/json\"  - H \"Host: example.org\" \n ``` \n Headers Content-Type : application/json Host : example.org\
          \ Body {\n \" grant_type \": \"pa"
components:
  schemas:
    GetRestV1CatalogsResponse:
      type: object
      properties:
        ' catalogs ':
          type: array
          items:
            type: object
            properties:
              ' name ':
                type: string
              ' uuid ':
                type: string
              ' created_at ':
                type: string
                format: date-time
              ' updated_at ':
                type: string
                format: date-time
    PostRestV1CatalogsRequest:
      type: object
      properties:
        name:
          type: string
          description: Catalog name
      required:
      - name
    PostRestV1CatalogsResponse:
      type: object
      properties:
        catalog:
          type: object
    PutRestV1CatalogsRequest:
      type: object
      properties:
        uuid:
          type: string
          description: Catalog UUID
        name:
          type: string
          description: New name
      required:
      - uuid
      - name
    PutRestV1CatalogsResponse:
      type: object
      properties:
        catalog:
          type: object
    GetRestV1CatalogsCatalogidProductsResponse:
      type: object
      properties:
        total:
          type: integer
        total_pages:
          type: integer
        current_page:
          type: integer
        products:
          type: array
    PostRestV1CatalogsCatalogidProductsRequest:
      type: object
      properties:
        product:
          type: object
          description: Product object
      required:
      - product
    PostRestV1CatalogsCatalogidProductsResponse:
      type: object
      properties:
        product:
          type: object
        error:
          type: object
    GetRestV1CatalogsCatalogidProductsIdResponse:
      type: object
      properties:
        product:
          type: object
    PutRestV1CatalogsCatalogidProductsIdRequest:
      type: object
      properties:
        product:
          type: object
          description: Product object
      required:
      - product
    PutRestV1CatalogsCatalogidProductsIdResponse:
      type: object
      properties:
        product:
          type: object
    GetRestV1CatalogsIdResponse:
      type: object
      properties:
        catalog:
          type: object
          description: Catalog object
    DeleteRestV1OauthTokenResponse:
      type: object
      properties:
        ' catalogs ':
          type: array
          items:
            type: object
            properties:
              ' name ':
                type: string
              ' uuid ':
                type: string
              ' created_at ':
                type: string
                format: date-time
              ' updated_at ':
                type: string
                format: date-time
    PostRestV1OauthTokenResponse:
      type: object
      properties:
        ' access_token ':
          type: string
        ' token_type ':
          type: string
        ' expires_in ':
          type: integer
        ' scope ':
          type: string
        ' created_at ':
          type: integer
tags:
- name: Rest
